.maskedInput {
  padding: 0.7rem;

  border-radius: 4px;
  border: 1px solid;
  background-color: #e9ecef;
  height: 45px;
  border: none;
}
.inputMaskContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  row-gap: 5px;
}
